/* -------------------- Reset Styles -------------------- */
ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}
/* -------------------- Reset Styles -------------------- */

/* -------------------- Brands infinite scroll animation -------------------- */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
/* -------------------- Brands infinite scroll animation -------------------- */

/* -------------------- Testimonials carousel -------------------- */
.carousel-section {
  margin: 0 auto;
  padding-block: 5rem;
}

.carousel-container {
  height: auto;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.swiper-slide {
  opacity: 50%;
}

.swiper-slide-active {
  opacity: 100%;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 40px;
  width: 100%;
  margin-left: auto;
  display: block;
}

.swiper-pagination-bullet-active {
  background-color: #088395 !important;
}
/* -------------------- Testimonials carousel -------------------- */

/* -------------------- Button Animation -------------------- */
.power-container {
  position: relative;
  display: inline-block;
}

.power {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #37b7c3;
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid transparent;
  z-index: 1;
  overflow: hidden;
}

.power::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(180deg, rgba(55, 183, 195, 0) 0%, #37b7c3 100%);
  z-index: -1;
  border-radius: 14px;
  animation: rotate 8s linear infinite;
}

.power::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: -1;
}

.power img {
  width: 16px;
  height: 16px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .power {
    font-size: 16px;
    padding: 12px 24px;
  }

  .power img {
    width: 20px;
    height: 20px;
  }
}
/* -------------------- Button Animation -------------------- */

.header-fixed {
  padding: 5px 0 !important;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff90 !important;
  backdrop-filter: blur(20px);
  transition: transform 0.3s ease-in-out;
}
.header-hidden {
  transform: translateY(-100%);
}
